
::-webkit-scrollbar {
    width: 7px;
    background-image: url(../img/image.jpg);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border-right: 2px solid rgb(252, 252, 252);
}

*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.portafolio-item h1{
	position: absolute;
	z-index: 100;
	padding-top: 120px;
	padding-bottom: 160px;
	padding-left: 50px;
	font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	letter-spacing: 6px;
  	color: whitesmoke;
	filter:blur(.5px) ; 
	transition: 4s;
	font-size: 8rem;
	text-transform: uppercase;
	font-weight: 900;
}

.portafolio-item h1:hover {
	transition: 2s;
	filter: blur(20px);
	opacity: 0;
}

img{
	width: 100%;
}

.portafolio{
	width: 90%;
	max-width: 1400px;
	margin: auto;
	padding-top: 30%;
}

.portafolio h1{
	text-align: center;
	font-size: 38px;
	margin: 15px 0px 40px;
}

.portafolio-container{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.portafolio-item{
	width: 30%;
	position: relative;
	overflow:hidden;
	top: -40px;
}

.portafolio-img{
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.portafolio-text{
	position: absolute;
	bottom: 0;
	padding: 20px;
	background: rgba(0, 0, 0, 0.705);
	color: #fff;
	-webkit-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

.portafolio-text p{
	text-align: justify;
}

.portafolio-item:hover .portafolio-text{
	-webkit-transform: translateY(0%);
	-ms-transform: translateY(0%);
	transform: translateY(0%);
}

.portafolio-item:hover .portafolio-img{
	-webkit-transform: scale(1.15);
	-ms-transform: scale(1.15);
	transform: scale(1.15);
}