body {
    margin: 0;
    min-height: 100vh;
    font-family: arial;
    background-image: url(../img/wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

body:before {
    content:"";
    width: 100%;
    height:100vh;
    position: fixed;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    filter: blur(5px);
    background-color: #000;
    opacity: 0.6;
    top: 0;
    left: 0;
}

nav {
    position:absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 10px 90px;
    box-sizing: border-box;
    background: rgb(0, 0, 0, 0.5);
    border-bottom: 1px solid #fff;
}

nav .logo {
    padding: 22px 20px;
    height: 80px;
    float: left;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    -webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

nav ul {
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
} 

nav ul li a {
    line-height: 80px;
    color: #fff;
    padding: 12px 30px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    -webkit-transition: all .7s ease;
	-moz-transition: all .7s ease;
	-ms-transition: all .7s ease;
	-o-transition: all .7s ease;
	transition: all .7s ease;
}

nav ul li a:hover {
    background: rgba(151, 151, 151, 0.6);
    border-radius: 40px;
}

nav li ul {
    box-sizing: border-box;
    text-align-last: center;
    background: rgba(22, 22, 22, 0.8);
    border-radius: 20px;
    position: fixed;
    z-index: 2;  
    display: none;
    min-width: 160px;
}
 
nav li:hover > ul {
    display: block;
}

section {
    width: 100%;
    height: 100vh;
}

.imagen {
    position: absolute;
    top: 28%;
    left: 65%;
}
